# Include the README and the CHANGELOG
include *.md

# Include the license file
include LICENSE.txt

# Include the dependency related files
include Pipfile
include Pipfile.lock

# Include GEDCOM test files
include tests/files/*.ged
